BOT_TOKEN=""
BOT_ID=""

AZTEC_DOCS_VERSION=""

AllowedChannelIds="1400267448304795729,874127079694823506"
LoggingChannelId="1255281982888480848"
AnalyticsChannelId="1403209923998908507"
MessageHistoryPerThread="6"
DiscordTrainingForums="1147212093616046081"
RequestsPerMinute="3"
ADMIN_USERS="816058457219792966" 

CHROMADB_URL_PATH="localhost"
CHROMADB_URL_PORT="8001"
CHROMADB_URL_SSL="false"
CHROMADB_KNOWLEDGEBASE_ID="knowledge-base-test-2"
CHROMADB_AUTH="admin:$$2y$$05$$KcpzhLxxTNskFo3rwWISROvFFQBwDaYwbo5u9aaeFTxJfa7humHyW"

AMOUNT_OF_DOCS="4"

LLM_PROVIDER="openai"
OPENAI_MODEL="gpt-5"

OPEN_AI_API=""
EMBEDDING_MODEL="text-embedding-3-large"

ANTHROPIC_API=""
ANTHROPIC_MODEL="claude-sonnet-4-20250514"
ANTHROPIC_THINKING="false"

MAX_RESPONSE_TOKENS="20000"

GITHUB_TOKEN=""
LMDB_ROUTE="./db/"
SNAPSHOT_ROUTE="/app/snapshots/"

TRAINING_LIMIT="50"

MCP_PORT="3000"

# MCP Server Configuration
MCP_ENABLED="true"
MCP_PORT="3000"
// This is simply the public URL for the MCP server, it uses this to tell the user where to add the MCP server to their client.
// So if you are proxying through https://example.com/, you would set this to https://example.com
MCP_SERVER_URL="http://localhost:3000"
MCP_AUTH_REQUIRED="true" // Whether to require an authentication token to use the MCP server.
MCP_RATE_LIMIT_ENABLED="true"
MCP_RATE_LIMIT_PER_MINUTE="10"
